# Enable URL rewriting
RewriteEngine On
RewriteBase /KP-SMK-WEB-PROFILE/

# Set default directory index to index.php
DirectoryIndex index.php

# Redirect all requests to index.php if the requested file or directory doesn't exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
